version: 2.1

commands:
  build-docker:
    description: "Build and deploy a docker box"
    parameters:
      box:
        type: string
        default: "minimal"
    steps:
      - checkout
      - run: ./docker/login
      - run:
          no_output_timeout: 30m
          command: ./docker/build << parameters.box >> $CIRCLE_BRANCH
      - run: ./docker/push << parameters.box >> $CIRCLE_BRANCH
  nix-prepare-test-push:
    steps:
      - checkout
      - run:
          name: prepare nix
          command: |
            . $HOME/.nix-profile/etc/profile.d/nix.sh
            ./ci/setup-hydra-cache.sh
            ./ci/cachix.sh setup
      - run:
          name: tests
          command: |
            . $HOME/.nix-profile/etc/profile.d/nix.sh
            nix-shell --run echo
            nix-shell --run hn-test
            # TODO: decide whether or not we want to keep this
            # HN_VERBOSE=true $(nix-build . --no-link -A pkgs.holonix)/bin/holonix --run hn-test
      - run:
          name: push to cachix
          command: |
            . $HOME/.nix-profile/etc/profile.d/nix.sh
            ./ci/cachix.sh push

jobs:
  build:
    docker:
      - image: nixos/nix:latest
        environment:
          CACHIX_NAME: holochain-ci
    steps:
      - nix-prepare-test-push

  debian:
    docker:
      - image: holochain/holonix:debian.develop
        environment:
          CACHIX_NAME: holochain-ci
    steps:
      - nix-prepare-test-push

  ubuntu:
    docker:
      - image: holochain/holonix:ubuntu.develop
        environment:
          CACHIX_NAME: holochain-ci
    steps:
      - nix-prepare-test-push

  # THIS IS SECURITY SENSITVE
  # READ THESE
  # https://circleci.com/blog/deploying-documentation-to-github-pages-with-continuous-integration/
  # https://discuss.circleci.com/t/adding-ssh-keys-fails/7747/24
  deploy-github-pages:
    docker:
      - image: nixos/nix:latest
    steps:
      - add_ssh_keys:
          fingerprints:
            - "52:70:20:1e:fe:e3:1c:74:cc:b9:5e:b4:04:30:03:e6"
      - checkout
      - run:
          name: Set up Holo's Hydra cache
          command: ./ci/setup-hydra-cache.sh
      - run:
          name: Set up Cachix
          command: ./ci/cachix.sh setup
      - run:
          name: Deploy github pages
          command: |
            git config user.name "$GITHUB_PAGES_DEPLOY_USER"
            git config user.email "$GITHUB_PAGES_DEPLOY_EMAIL"
            nix-shell --run hn-docs-github-pages

  mac:
    macos:
      # reference the Big Sur + Xcode 12.5 preview image
      xcode: 12.5.1
    environment:
      NIXPKGS_ALLOW_UNFREE: 1
      CACHIX_NAME: holochain-ci
    steps:
      - checkout
      - run:
          name: install nix
          command: |
            set -ET
            shopt -s inherit_errexit || {
              echo warning: could not enable inherit_errexit
            }
            # fix for "too many open files" that breaks tokio and lmdb
            ulimit -n 10240
            # catalina nixos install
            sh <(curl -L https://nixos.org/nix/install) --darwin-use-unencrypted-nix-store-volume
      - nix-prepare-test-push

  docker-build-ubuntu:
    resource_class: large
    machine: true
    steps:
      - build-docker:
          box: ubuntu

  docker-build-debian:
    resource_class: large
    machine: true
    steps:
      - build-docker:
          box: debian

workflows:
  version: 2
  tests:
    jobs:
      - build
      - debian
      - ubuntu
      - mac
      - docker-build-ubuntu:
          filters:
            branches:
              only:
                - love
                - master
                - develop
          requires:
            - build
      - docker-build-debian:
          filters:
            branches:
              only:
                - love
                - master
                - develop
          requires:
            - build
      - deploy-github-pages:
          filters:
            branches:
              only: love
          requires:
            - build
