name: "update dispatch"
on:
  # push:
  #   branches: [pr-periodic-updates]
  schedule:
    - cron: "0 6 * * *" # at 6 AM every day
  workflow_dispatch:
    inputs:
      only-base-ref:
        description: |
          when this is set to 'true', the branches main and develop
          will not be automatically included in the update
        required: true
        default: "false"
        type: string

concurrency:
  group: ${{ github.ref_name }}

jobs:
  call-update:
    strategy:
      fail-fast: false
      matrix:
        branch:
          - name: main
            skip: false
          - name: develop
            skip: false
          - name: fine-tune-skip
            skip: false
          - name: ${{ github.ref_name }}
            skip: true

    runs-on: "ubuntu-latest"
    steps:
      - name: Evaluate skip
        id: skip
        if: |
          ${{
            !( github.event.inputs.only-base-ref == 'true' && !endsWith(github.ref_name, matrix.branch) )
            ||
            !( github.event.inputs.only-base-ref != 'true' && endsWith(github.ref_name, matrix.branch) && matrix.branch.skip )
          }}
        run: echo
      - name: Checkout repository
        if: ${{ steps.skip.outcome != 'skipped' }}
        uses: actions/checkout@v2.4.0
      - name: Call the update action
        if: ${{ steps.skip.outcome != 'skipped' }}
        uses: ./.github/actions/update
        with:
          branch: ${{ matrix.branch.name }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HRA_GITHUB_TOKEN: ${{ secrets.HRA_GITHUB_TOKEN }}
  all-jobs-succeed:
    runs-on: "ubuntu-latest"
    needs: [call-update]
    steps: [{ name: "all-jobs-succeed", run: ":" }]
